COMPOSE_PROJECT_NAME=intera_test
APP_NAME=Intera
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_PORT=8080
APP_URL=http://localhost:8080
APP_LOCALE=ru
LOG_CHANNEL=stderr
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=intera
DB_USERNAME=intera
DB_PASSWORD=
QUEUE_CONNECTION=database
DB_QUEUE_RETRY_AFTER=120
CACHE_STORE=database
SESSION_DRIVER=database
SESSION_SECURE_COOKIE=false
SANCTUM_STATEFUL_DOMAINS=localhost:8080,127.0.0.1:8080
SEED_USER_NAME=intera
SEED_USER_EMAIL=intera@example.com
SEED_USER_PASSWORD=
